<%= form_with model: [commentable, comment], id: dom_id(comment), class: "pt-3" do |form| %>
  <p class="border-t-2 border-primary text-3xl py-3">New comment</p>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message|%>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <%= form.rich_text_area :body  %>
  <%= form.submit "Create", class: "rounded bg-primary hover:bg-primaryhover text-white font-bold py-2 px-4 my-2" %>
<% end %>
