<div class="flex flex-wrap">
  <%= helpers.heroicon "calendar", variant: :outline, options: { class: "h-5 w-5" } %>
  <p class="pl-2 text-sm" id="date"><%= l(@timestamp, format: :date) %></p>
</div>
<div class="flex flex-wrap">
  <%= helpers.heroicon "clock", variant: :outline, options: { class: "h-5 w-5" } %>
  <p class="pl-2 text-sm" id="time"><%= l(@timestamp, format: :time_of_day) %></p>
</div>
