<% @queries.each do |query| %>
  <div id="<%= dom_id query %>">
    <div>
      <%= query.search_term %>
    </div>
    <div>
      <p><%= l(query.searched_at, format: :date) %></p>
      <p><%= l(query.searched_at, format: :time_of_day) %></p>
    </div>
  </div>
<% end %>
