<div id="<%= dom_id @query %>">
  <p>
    <%= @query.search_term %>
  </p>
  <% if @query.results.present? %>
    <ul>
      <% @query.results.each do |result| %>
        <li><%= result["title"] %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No results found</p>
  <% end %>
</div>
